{% load static %}

<link href="{% static 'css/datatable.bootstrap.css' %}" rel="stylesheet" media="screen">
<script src="http://ajax.aspnetcdn.com/ajax/jquery.dataTables/1.9.4/jquery.dataTables.min.js" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.dataTables.js' %}" type="text/javascript"></script>

<table id={{ table.opts.id }} {{ table.opts.attrs }} cellpadding="0" cellspacing="0" border="0">
    <thead>
        {% for row in table.header_rows %}
        <tr>
            {% for header in row %}
            <th {% if header.attrs %}{{ header.attrs }}{% endif %}>
            {{ header.text }}
            </th>
            {% endfor %}
        </tr>
        {% endfor %}
    </thead>
    <tbody>
        {% for row in table.rows %}
        <tr>
            {% for column, td in row.items %}
            <td {% if column.attrs %}{{ column.attrs }}{% endif %}>
            {% if column.safe %}{{ td }}{% else %}{{ td|safe }}{% endif %}
            </td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script type="text/javascript" charset="utf-8">
$( function() {
    var filterFunc = function ( sData ) {
        return sData.replace(/\n/g," ").replace( /<.*?>/g, "" );
    };

    $('#{{ table.opts.id }}').dataTable({
        "sDom": "{{ table.addons.render_dom }}",
        "bAutoWidth": false,
        "sPaginationType": "bootstrap",
        "aaSorting": [
            {% for index, order in table.opts.sort %}
            [ {{ index }}, "{{ order }}" ],
            {% endfor %}
         ],
        "aoColumns": [
            {% for column in table.columns %}
                {% if column.space %}
                {
                    {% if not column.searchable %}
                    "bSearchable": false,
                    {% endif %}
                    {% if not column.sortable %}
                    "bSortable": false,
                    {% endif %}
                    {% if not column.visible %}
                    "bVisible": false,
                    {% endif %}
                    {% if column.links %}
                    "mRender": function(data, type, full) {
                        return type == 'filter' ? $(data).text() : data;
                    }
                    {% endif %}
                },
                {% endif %}
                {% endfor %}
        ],
        "oLanguage": {
            "sLengthMenu": "_MENU_",
            "sSearch": "",
            "sInfo": "{{ table.addons.info_label.format }}",
            "sInfoEmpty": "{{ table.addons.info_label.format }}",
            "sZeroRecords": "{{ table.opts.zero_records }}",
            "sInfoFiltered": "",
            "oPaginate": {
                "sFirst": "{{ table.addons.pagination.first }}",
                "sLast": "{{ table.addons.pagination.last }}",
                "sNext": "{{ table.addons.pagination.next }}",
                "sPrevious": "{{ table.addons.pagination.prev }}"
            }
        },
        "fnPreDrawCallback": function(oSettings, json) {
            $('.dataTables_filter input').addClass('form-control input');
            $('.dataTables_filter input').attr("placeholder", "{{ table.addons.search_box.placeholder }}");
            $('.dataTables_length select').addClass('form-control input');
            $('.dataTables_info').addClass('form-control input');
        },
        "fnInitComplete": function(oSettings, json) {
            $('.dataTables_filter input').wrap('<div class="input-group"></div>');
            $('.dataTables_filter input').before('<span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>');
            $('.dataTables_filter span').addClass('filter_icon');
            {% if table.addons.ext_button.template %}
            $('.ext-btn').append('{{ table.addons.ext_button.html }}');
            {% endif %}
        }
    });
});
</script>
